@font-face {
  font-family: "SCDream_Regular";
  src: url("/src/assets/fonts/SCDream4.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "SCDream_Bold";
  src: url("/src/assets/fonts/SCDream4.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "SCDream_Heavy";
  src: url("/src/assets/fonts/SCDream4.otf") format("opentype");
  font-display: swap;
}
